<% include headerAdmin.ejs%>
<div class="centerDiv">
	
		<% if(err){%>
		<h1><%=err%></h1>
		<%} delete req.session.err%>
	<form action="creatSingleProject" id="projectForm" method="post">
	<input type="hidden" name="userId" value="<%=userId%>">
		<div class="row">
			<div class="col-25">
				<label>Name</label>
			</div>
			<div class="col-75">
				<input id="name" type="" name="name">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label>Price</label>
			</div>
			<div class="col-75">
				<input id="name" type="" name="price">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label>Knowledge</label>
			</div>
			<div class="col-75">
				<input id="name" type="" name="knowledge">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label>Deadline</label>
			</div>
			<div class="col-75">
				<input id="name" type="date" name="deadLine">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label>Description</label>
			</div>
			<div class="col-75">
				<textarea id="name" type="" name="description"></textarea> 
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label>Type</label>
			</div>
			<div class="col-75">
				<select name="type">
					<option>Project</option>
					<option>Task</option>
				</select>
			</div>
		</div>
		<br>
		
		<button class="btnAdd">AddProject</button>
	</form>
	
</div>
<% include footer.ejs%>