<h1>SignUp</h1>


<form method="post" action="/addNewUser">

	<input type="text" name="first"><br><br>
	<input type="text" name="second"><br><br>
	<input type="text" name="third">

	<input type="submit" name="">

</form>